
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}


.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.logo {
  height: 1.5em;
  background: #333;
  border-radius: 0.28em;
  margin: 0.5em;
  color: whitesmoke;
  font-size: 2.1em;
  text-align: center
;
}
.layoutheight{
  height: 100% !important;
}
